AIRMONEY_WEB_USER=admin
AIRMONEY_WEB_PASSWORD=change-me
AIRMONEY_SITE_URL=http://127.0.0.1:8000

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

HTTP_PROXY=http://127.0.0.1:10808
HTTPS_PROXY=http://127.0.0.1:10808
ALL_PROXY=http://127.0.0.1:10808
NO_PROXY=127.0.0.1,localhost
http_proxy=http://127.0.0.1:10808
https_proxy=http://127.0.0.1:10808
all_proxy=http://127.0.0.1:10808
no_proxy=127.0.0.1,localhost
AIRMONEY_BROWSER_PROXY=http://127.0.0.1:10808
